name: Auto Commit Version

on:
  push:
    branches:
      - main 

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update version file
        run: |
          echo "Build: $(date)" > version.txt

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add version.txt
          git commit -m "auto: update version" || echo "No changes"

          git push
