name: Second CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Print Message
      run: echo "Hello hi from GitHub Actions"

    - name: Show Files
      run: ls -R
